$red:#DF4747;
$darkgrey:#444;
$darkgreyborder:#282828;
$lightgrey:#B2B2B2;
$lightgreyborder:#E3E1E1;
$footergrey:#ccc;
$footerdarkgrey: #888;
$footerborders:#292929;
$footerdarkgreybutton:#666;
$footerdarkgreybuttonbackground:#262626;
$arrowcolor:#999;
$dirtyred:#942F2F;
$black:#000;
$white:#FFF;
$whitehover: rgba(255,255,255,0.8);
