@import 'colors';
$maintext:'Lato', sans-serif;
$headingtext:'Source Sans Pro', sans-serif;
$timetext:'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif;
$normalweight: 300;


/*****************************************

Clear Fix hack

*****************************************/

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}


/*****************************************

Set the font sizes to adjust depending on the screen size.
Use rem for each section layout and then em within each
element.

*****************************************/

html {
	font-size: 18px;
}

@media screen and (max-width: 640px) {
  html {
  	font-size: 16px; }
}

@media screen and (max-width: 480px) {
  html {
  	font-size: 14px; }
}


/*****************************************

These set the overall look and size of the site. Main typography
here.

*****************************************/

* {
	box-sizing: border-box;
}

body {
	font-family: $maintext;
	background-color: $white;
}

header {
	background-color: $white;
	font-size: 1rem;
	width: 100vw;
}

h1 {
	font: {
		family: $headingtext;
		size: 1.5em;
		weight: bolder;}
	color: $darkgrey;
}

h2 {
	color: $red;
	@media screen and (max-width: 480px) {
		text-align: center;
	}
}

h3 {
	text {
		align: center;
		transform: uppercase;}
	font-size: 1em;
	color: $black;
	margin-top: 20px;
}	

h4 {
	text-align: left;
	font-size: 1em;
	color: black;
	margin: 20px 0 10px 0;
}

h5 {
	font {
		size: 0.5em;
		style: italic;
		weight: lighter;}
	text-align: left;
	color: $black;
	line-height: 0.5em;
	margin: 0;
}

a {
	color: $darkgrey;
	text-decoration: none;
}

p {
	font-family: $maintext;
	max-width: 100vw;
}

section {
	background-color: $white;
	font-size: 1.5rem;
	width: 100vw;
	margin: 0 auto;
	padding: 30px 0 10px 0;
	
}

section p {
	color: $darkgrey;
	margin: 0 100px 0 100px;
	font-size: 0.75em;
	text-align: justify;
}

time {
	font-family: $timetext;
	color: $lightgrey;
	text-transform: uppercase;
	font-size: 0.75em;
	letter-spacing: 1px;
}


/*****************************************

Sets the stying of the navigation bar

*****************************************/

#page-header {
	position: fixed;
	top: 0;
	height: 64px;
	width: 100vw;
	z-index: 1;
	
}

#page-header h1 {
	display: inline-block;
	width: 30vw;
	float: left;
	margin: 14px 0 18px 20px;
	@media screen and (max-width: 640px) {
		width: 65vw;
		margin-left: 17.5vw;
		text-align: center;
	}
}

#main {
	display: inline;
	float: right;
	list-style: none;
	text-align: right;
	height: 64px;
	width: 6vw; 
} /* only edit the last 2 items - sets the width of the main menu */

.dropdown_heading {
	color: $darkgrey;
}
#page-header nav li {
	float: right;
	margin-left: 2.25vw;
	margin-right: 2vw;
	display: inline-block;
	height: 28px;
	padding: 2px 10px 0 10px;
}

nav li ul {
	// margin: 0px;
	padding: 3px 0px;
	margin-bottom: 2px;
	display: none;
	position: absolute;
	right: 0px;
	z-index: 99;
	top: 6vh;
	// background-color: rgba(227, 225, 225, 0.5);
} /* Only edit the last 2 items - set the top margin and background color of the submenus */

nav li:hover ul {
	display: block;
	text-align: right;
	width: 15vw;
	font-size: 0.9em;
} /* sets the width of the submenus */

#subnav li {
	list-style: none;
	display: list-item;
} /* DO NOT EDIT */

nav li li:first-child {
	margin-top: 2vh;
}

nav li li a {
	color:$darkgrey;
	text-decoration:none;
} /* Changes the link color of items in the submenu */

nav li li a:hover {
	color:$dirtyred;
	text-decoration:none;
} /* Changes the hover color of items in the submenu */

#page-header nav a {
	transition: color 0.2s ease, border-bottom 0.4s ease-out;
}

#page-header nav a:hover {
	color: $dirtyred;
	border-bottom: 2px solid $dirtyred;
}

.active {
	background-color: rgba( 225,227,227,0.4);
	border-radius: 3px;
}

.photoset-grid-lightbox {
	margin-top: 64px;
}

/*****************************************

Responsive Nav Bar

*****************************************/

#full-screen {
	@media screen and (max-width: 640px) {
		display: none;
	}
}

#small-screen {
	@media screen and (min-width: 640px) {
		display: none;
	}	
}

#menuButton {
	color: $darkgrey;
	width: 10vw;
	float: right;
	margin: 3.5vh 2vw 0 3vw;
	display: inline-block;
	background-color: $lightgrey;
	padding: 2px;
	text-align: center;
	border-radius: 2px;	
}

.hiddenMenu {
	width: 30vw;
	height: 30vh;
	position: absolute;
	right: -50vw;
	top: 64px;
	clear: both;
	background-color: rgba(178, 178, 178, 0.85);
	border-radius: 5px 0 0 5px;
	@media screen and (max-width: 600px) {
		width: 35vw;
	}
	@media screen and (max-width: 480px) {
		width: 40vw;
	}
}

.hiddenMenu ul {
	text-align: right;
	li {
		margin: 0;
		clear: both;
		display: block;
		padding: 3vh auto;
	}
}

.closeButton {
	padding: 10px 10px 5px 10px;
	color: $darkgrey;
	border-bottom: 1px solid $darkgrey;
}

/*****************************************

Slider and button layout for landing page

*****************************************/

.slider {
	width: 65vw;
	height: 75vh;
	position: fixed;
	top: 15vh;
	left: 17.5vw;
	
}

.slide-viewer {
	overflow: hidden;
	height: 75vh;
}

.slide-group {
	width: 100%;
	height: 100%;
	position: relative;
}

.slide {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
}

.slide img {
	max-width: 100%;
}

.slide:first-child {
	display: block;
}

.slide-buttons {
	text-align: center;
	border: none;
}

.slide-btn {
	border: none;
	background: none;
	color: $darkgrey;
	font-size: 100%;
	line-height: 0.5em;
}

.slide-btn.active, .slide-btn:hover {
	color: $lightgrey; 
	cursor: pointer;
}


/*****************************************

About this site styling

*****************************************/

#main-container {
	float: left;
	clear: both;
	margin-top: 64px;
	width: 100%;
	height:100%;
	background: $white;
	color: $darkgrey;
}

#main-main {
	width: 80vw;
	background-color: $white;
	margin: 0 10vw;
}

#main-left {
	width: 40vw;
	float: left;
	@media screen and (max-width: 480px) {
		clear: both;
		width: auto;
	}

}

#main-right {
	width: 40vw;
	float: left;
	@media screen and (max-width: 480px) {
		clear: both;
		width: auto;
	}
}

.about-this-site {
	margin-right: 2vw;
}

.about-this-site h2 {
	@media screen and (max-width: 480px) {
		display: none;
	}
}

.accordian {
  width: 35vw;
  height: 2rem;
  overflow: hidden;
  color: white;
  transition: height 0.25s ease-in-out;
  margin-bottom: 2vh;
  @media screen and (max-width: 480px) {
		width: auto;
	}
}

.accordian h1 {
  	font: {
  		family: $maintext;
  		size: 1.1em;
		weight: 400;}
	margin: 7px 0 0 0;
  	background-color: rgba(148, 47, 47, 0.9);
  	border-radius: 3px;
  	color: white;
  	padding:0 0.5rem;
  	margin-top:0;
  	line-height:2rem;
  	cursor: pointer;
}

.accordian p {
 	margin: 2vh 1vw;
	color: $footerdarkgrey;
	font-size: 0.9em;
	line-height: 1.5em;
}

.accordian li {
 	margin: 2vh 1vw;
	color: $footerdarkgrey;
	font-size: 0.9em;
	// line-height: 1.5em;
}

.accordian strike {
	color: $dirtyred;
}

.accordian a {
	color: $footerdarkgrey;
	font-size: 1em;	
}

.a-first.open {
  height:30vh;
  overflow:scroll;
}

.a-second.open {
  height:31vh;
  overflow:scroll;
}
.a-third.open {
  height:45vh;
  overflow:scroll;
}

.statistics {
	margin-left: 2vw;
}

#date_message {
	font-weight: bold;
}

.about-the-blog {
	margin-left: 2vw;
	margin-bottom: 10vh;
}


/*****************************************

Map page styling

*****************************************/


#map-canvas {
	margin: 80px auto 10px;	
	width: 80vw;
	height: 65vh;
}

.link {
	color: $red;
	text-decoration: underline;
	font-weight: 450;
	&:hover {
	color: $dirtyred;}
}

.journey {
	background-color: white;
	font-size: 1.5rem;
	line-height: 1.5rem;
	width: 80vw;
	margin: {
		left: 10vw;
		right: 10vw;
	}
}

.journey p {
	color: $darkgrey;
	font-size: 0.65em;
	text-align: justify;
}



/*****************************************

Blog landing page layout and styles

*****************************************/

.container {
	float: left;
	width: 30%;
	padding: 10px;
	margin: 12vh 1vw 1vh 2vw;
	@media screen and (max-width: 480px) {
		clear: both;
		width: 95%;
		margin-top: 1vh;
	}
}

.container:first-child {
	@media screen and (max-width: 480px) {
		margin-top: 10vh;
	}	
}

.layout {
	clear: both;
}

.brick h2 {
	font-size: 1.55em;
	font-weight: 600;
	margin: 7px 0 0 0;
	letter-spacing: 1.5px;
}

.mheading {
	font-size: 1.55em;
	font-weight: 600;
	margin: 7px 0 0 0;
	letter-spacing: 1.5px;
	color: $mheading;
}

.aheading {
	font-size: 1.55em;
	font-weight: 600;
	margin: 7px 0 0 0;
	letter-spacing: 1.5px;
	color: $alexheading;
}

.brick {
	text-align: justify;
	font-size: .75em;
	padding-top: 15px;
	transition: background-color 0.5s ease;
}

.brick:hover {
	background-color: rgba(227, 225, 225, 0.5);
}

.excerpt {
	color: $darkgrey;
	padding: 0 0 15px 0;
	border-bottom: solid 1px $lightgreyborder;
}

.blogColumnHeader {
	color: $darkgrey;
	font-size: 1rem;
	text-transform: uppercase;
	padding: 0 0 10px 0;
	border-bottom: solid 2px $lightgreyborder;
	@media screen and (max-width: 480px) {
		text-align: center;
		font-size: 1.25rem;
	}
}


/*****************************************

Individual blog page post styling

*****************************************/

.post {
	background-color: white;
	font-size: 1.5rem;
	line-height: 1.5rem;
	width: 100vw;
}

.post h1 {
	font: {
		family: $headingtext;
		size: 3rem;
		weight: 300;}
	color: $red;
	margin: 10vh 25vw .5em 25vw;
	line-height: 40px;
	padding: 15vh 0 3vh;
	@media screen and (max-width: 640px) {
		font-size: 2.75rem;
		margin: 5vh 17vw 0 17vw;
	}
	@media screen and (max-width: 480px) {
		font-size: 2.5rem;
		margin: 5vh 10vw 0 10vw;
	}

}

@mixin text($color) {
	color: $color;
	font-size: 0.7em;
	margin: {
		left: 25vw;
		right: 25vw;}
}

.post p {
	@include text($darkgrey);
	@media screen and (max-width: 640px) {
		margin: {
			left: 17vw;
			right: 17vw;}
	}
	@media screen and (max-width: 480px) {
		margin: {
			left: 10vw;
			right: 10vw;}
	}
}

.post li {
		@include text($darkgrey);
}

.post p:last-child {
			padding-bottom: 15vh;
}

.jk-post-comments {
	width: 50vw !important;
	margin: {
		left: 25vw !important;
		right: 25vw !important;
	}
	@media screen and (max-width: 640px) {
		width: 66vw !important;
		margin: {
			left: 17vw !important;
			right: 17vw !important;}
	}
	@media screen and (max-width: 480px) {
		width: 80vw !important;
		margin: {
			left: 10vw !important;
			right: 10vw !important;}
	}
}

.ak-post-comments {
	width: 46vw !important;
	margin: {
		left: 27vw !important;
		right: 27vw !important;
	}
	@media screen and (max-width: 640px) {
		width: 66vw !important;
		margin: {
			left: 17vw !important;
			right: 17vw !important;}
	}
	@media screen and (max-width: 480px) {
		width: 80vw !important;
		margin: {
			left: 10vw !important;
			right: 10vw !important;}
	}
}

.m-post-comments {
	width: 66vw !important;
	margin: {
		left: 17vw !important;
		right: 17vw !important;
	}
	@media screen and (max-width: 640px) {
		width: 66vw !important;
		margin: {
			left: 17vw !important;
			right: 17vw !important;}
	}
	@media screen and (max-width: 480px) {
		width: 80vw !important;
		margin: {
			left: 10vw !important;
			right: 10vw !important;}
	}
}

.post-shading {
		margin: 0;
		background-color: rgba(0,0,0,0.55);
}

.sanFranBackground {
	background: {
		image: url(../blogposts/alex/San_Fran-1010.jpg);
		size: cover;
		attachment: fixed;
		position: center;}
	width: 100vw;
	height: 100%;
}

.alexDubaiBackground {
	@extend .sanFranBackground;
	background-image: url(../blogposts/alex/Burj_Khalifa_Night.jpg);
}

.alexVietnamBackground {
	@extend .sanFranBackground;
	background-image: url(../blogposts/alex/Hanoi.jpg);
}

.mSanFranBackground {
	@extend .sanFranBackground;
	background-image: url(../blogposts/madeleine/San_Fran-1026.jpg);
}

.mDubaiBackground {
	@extend .sanFranBackground;
	background-image: url(../blogposts/madeleine/Atlantis_Dubai.jpg);
}

.mNyeBackground {
	@extend .sanFranBackground;
	background-image: url(../blogposts/madeleine/Nye.jpg);
}

.mVietnamBackground {
	@extend .sanFranBackground;
	background-image: url(../blogposts/madeleine/Hanoi.jpg);
}

.alex h1 {
	font: {
		family: $headingtext;
		size: 3rem;
		weight: 300;}
	color: $alexheading;
	margin: 10vh 27vw .5em 27vw;
	line-height: 40px;
	padding: 15vh 0 3vh;
}

.madeleine h1 {
	font: {
		family: $headingtext;
		size: 3rem;
		weight: 400;}
	color: $mheading;
	margin: 10vh 17vw .5em 17vw;
	line-height: 5vh;
	padding: 15vh 0 3vh;
}


.m-link {
	color: $mheading;
	text-decoration: underline;
	font-weight: 450;
	&:hover {
	color: $dirtyred;}
}

.a-link {
	@extend .m-link;
	color: $alexheading;
}

.madeleine img {
	margin: 0 17vw;
}

.alex p {
	@include text($white);
	font-size: 0.85em;
	line-height: 1.5em;
	margin: {
		left: 27vw;
		right: 27vw;}
	
}

.madeleine p {
	@include text($white);
	font-size: 0.75em;
	margin: {
		left: 17vw;
		right: 17vw;}

}

.post p:last-child {
	padding-bottom: 15vh;
	margin-bottom: 0px;

}

.alex p:last-child {
	padding-bottom: 15vh;
	margin-bottom: 0px;
}

.madeleine p:last-child {
	padding-bottom: 15vh;
	margin-bottom: 0px;
}

#meta {
	float: left;
	width: 100vw;
	clear: both;
	font-weight: 400;
	border-bottom: 1px solid $darkgreyborder;
	// margin-top: 40px;
	background: rgba(204, 204, 204, 0.2);
}

#meta ul {
	clear: both;
	list-style: none;
	width: 75vw;
	margin: 0 auto;

	li {
	float: left;	
	}

	.date {
	width: 12.5vw;
	line-height: 1.3em;
	border-right: 1px solid rgba(204,204,204,0.3);
	font-weight: $normalweight;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 2vh 0;
	}

	.author {
	width: 40vw;
	font-size: 0.9em;
	line-height: 1em;
	padding: {
		left: 2vw;
		top: 0.5vh;}
	font: {
		weight: $normalweight;
		family: $timetext;}
	color: $lightgrey;
	}

	.old {
	@extend .new;
	border-right: 1px solid rgba(204,204,204,0.3);
	}

	.new {
	display: inline;
	text-align: left;
	width: 6vw;
	padding: 0;
	}
}

#meta .arrow a {
	display: block;
	color: $arrowcolor;
	text-align: center;
	padding: 16px 0 15px;
	transition: background-color 0.3s ease, color 0.3s inline;
	&:hover {
		background-color: $darkgreyborder;
		color: $white;
		}
}


/*****************************************

Footer styling

*****************************************/

#footer-container {
	float: left;
	clear: both;
	width: 100%;
	background: $black;
	color: $footerdarkgrey;
}

#footer-main {
	width: 80vw;
	background-color: $black;
	margin: 0 auto;
}

#footer-left-section {
	width: 30vw;
	float: left;
	@media screen and (max-width: 640px) {
		width: 40vw;
	}
	@media screen and (max-width: 480px) {
		width: 80vw;
	}
}

#footer-middle-section {
	width: 25vw;
	padding-top: 1.5vh;
	float: left;
	padding: 0;
	@media screen and (max-width: 640px) {
		width: 40vw;
	}
	@media screen and (max-width: 480px) {
		clear: both;
		float: none;
		width: 80vw;
	}
}

#footer-right-section {
	@extend #footer-middle-section;
	@media screen and (max-width: 640px) {
		clear: both;
		float: none;
		width: 80vw;
	}
}

.about-me {
	background-color: $black;
	padding: 3vh 1vw 5vh 0;
	border-bottom: 1px solid $footerborders;
	@media screen and (max-width: 480px) {
		border-bottom: none;
	}
}

.read-now {
	@extend .about-me;
	padding-bottom: 5vh;
	border: {
		left: 1px solid $footerborders;
		right: 1px solid $footerborders;}
	@media screen and (max-width: 480px) {
		border: none;
	}
}

.blah-blah   {
	border: {
		left: 1px solid $footerborders;
		right: 1px solid $footerborders;}	
	padding: 0px 0 3vw 0;
	clear: both;
	@media screen and (max-width: 480px) {
		border: none;
	}
}

%footer-h2 {
	font: {
		size: 1.1em;
		weight: 300;}
	color: $footergrey;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.about-me h2 {
	@extend %footer-h2;
	margin-top: 3vh;
}

.follow-me h2 {
	@extend %footer-h2;
	margin-top: 3vh;
}

.read-now h2 {
	@extend %footer-h2;
	margin-left: 1vw;
}

.blah-blah h2 {
	@extend %footer-h2;
	padding-top: 2vh;
	margin: {
		top: 0;
		left: 1vw;
		bottom: 1vh;}
}

.twitter-feed h2 {
	@extend %footer-h2;
	// margin: 25px 0 10px 10px;
	margin-top: 3vh;
	margin-left: 1vw;
	@media screen and (max-width: 640px) {
		text-align: center;
	}
}

.left {
	float: left;
	margin-right: 15px;
}

.JK {
	margin-top: 10px;
}

.JK-large {
	margin-top: 5px;
	width: 15vw;
}


.follow {
	list-style: none;
	line-height: 1.5em;
}

%social {
	color: $footerdarkgrey;
	font-size: 0.8em;
}

.tw a {
	@extend %social;
	&:hover {
		color: $whitehover;
	}
}

.tw-b- img {
	width: 16px;
	height: 16px;
	margin-right: 10px;
}

.facebook a {
	@extend %social;	
	&:hover {
		color: $whitehover;
	}
}

.fb-b- img {
	width: 16px;
	height: 16px;
	margin-right: 10px;
}

.instagram a {
	@extend %social;
	&:hover {
		color: $whitehover;
	}
}

.instagram span {
	padding-left: 10px;
}

.ig-b- .tw-b .li-b {
	display: inline;
}

.ig-b- img {
	visibility: hidden;
}

.ig-b-:hover {
	background-position: 0 -60px;
}

.ig-b-:active {
	background-position: 0 -120px;
}

.ig-b-16 {
	width: 16px;
	height: 16px;
	background: url(http://badges.instagram.com/static/images/ig-badge-sprite-16.png) no-repeat 0 0;
	background-image: url(http://badges.instagram.com/static/images/ig-badge-sprite-16@2x.png);
	background-size: 60px 178px;
}

.li-b img {
	width: 20px;
	height: 15px;
	margin-right: 10px; 
}

.linkedin a {
	@extend %social;
	&:hover {
		color: #0783B6;
	}
}

.currentBook {
	margin: 0 10px 0px 20px;
	display: inline-block;
	max-width: 13vw;
	height: 18vh;
}

.futureBook {
	@extend .currentBook;
	margin: 1.25vh 1.25vw;
	height: 20vh;
}

.about-me p {
	line-height: 1.5em;
	margin: 15px 0 0 0;
	font-size: 1.1em;
	font-weight: 250;
}

.about-me a:hover, .read-now a:hover {
	color: $whitehover;
}

.footer-link {
	text-transform: uppercase;
	float: right;
	font-size: .8em;
	letter-spacing: 2px;
	color: $footerdarkgreybutton;
	background-color: $footerdarkgreybuttonbackground;
	padding: 0.2vh 0.3vw;
	border-radius: 2px;
	transition: color 0.2s ease;
	margin: 1vh 1.25vw;
}

%central-text {
	font: {
		size: 0.8em;
		weight: 250;}
	color: $arrowcolor;
	padding-top: 3vh;
	padding-right: 1.5vw;
	transition: color 0.2s ease;
}

.read-now p {
	@extend %central-text;
	padding-bottom: 4vh;
}

.blah-blah p {
	font: {
		size: 0.8em;
		weight: 250;}
	color: $arrowcolor;
	margin-top: 5vh;
	padding-right: 10px;
	margin-bottom: 5vh;
	transition: color 0.2s ease;
	line-height: 2em;
}

.read-now p:hover {
	color: $footergrey;
}
.blah-blah p:hover {
	color: $footergrey;
}

.twitter-feed {
	background-color: $black;
	padding-top: 3vh;
}

.twitter-timeline {
	height: 58vh; /*375px*/
	overflow: hidden;
	margin: 1vh 0 1.2vh 1vw;
	@media screen and (max-width: 640px) {
		margin: 1vh 0;
	}
	
}

.contentinfo {
	clear: both;
	font-size: 0.75em;
	width: 80vw;
	text-align: center;
	border-top: 1px solid $footerborders;
	padding: 1.2vh 0px 1.2vh 0;
	color: $footerdarkgreybutton;
	a {
		color: $footerdarkgrey;
		&:hover {
			color: $whitehover;
		}
	}
	span {
		margin: 0 3vw;
	}
}

#disqus_thread {
	width: 500px;
	height: 500px;
	color: black;


}

